<web-app  xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4">
	<jsp-config>
		<jsp-property-groups>
			<url-pattern>/jsp/*</url-pattern>
			<include-prelude>/header/header.html</include-prelude>
			<include-coda>/header/footer.jsp</include-coda>
		</jsp-property-groups>
	</jsp-config>	
	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>admin.AddAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/res</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Adcat</servlet-name>
		<servlet-class>admin.AddCategory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Adcat</servlet-name>
		<url-pattern>/addcategory</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Adbook</servlet-name>
		<servlet-class>admin.AddBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Adbook</servlet-name>
		<url-pattern>/addbook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>img</servlet-name>
		<servlet-class>book.show</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>img</servlet-name>
		<url-pattern>/im</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bnd</servlet-name>
		<servlet-class>book.BookBind</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bnd</servlet-name>
		<url-pattern>/bind</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cbnd</servlet-name>
		<servlet-class>category.CategoryBind</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cbnd</servlet-name>
		<url-pattern>/cbind</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bokModify</servlet-name>
		<servlet-class>admin.BookModify</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bokModify</servlet-name>
		<url-pattern>/ModifyBook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpBook</servlet-name>
		<servlet-class>admin.UpdateBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpBook</servlet-name>
		<url-pattern>/UpdateBook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>catModify</servlet-name>
		<servlet-class>admin.CategoryModify</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>catModify</servlet-name>
		<url-pattern>/ModifyCategory</url-pattern>
	</servlet-mapping>
</web-app>